
<table class="table table-bordered text-center table-hover">
    <tr>
        <th>Mã sinh viên</th>
        <th>Họ và tên</th>
        <th>Tuổi</th>
        <th>Thao tác</th>
    </tr>
    <tr>
        <td> @ViewBag.id </td>
        <td>@ViewBag.name</td>
        <td>@ViewBag.age</td>
        <td>
            <a href="/SinhVien" class="btn btn-primary">Quay lại</a>
         </td>
     </tr>
</table>
